export(activate)
export(auto_threads)
export(blas_info)
export(dashboard)
export(env_snapshot)
export(inject_all)
export(inspect)
export(install_python_deps)
export(is_disabled)
export(list_patches)
export(list_subsets)
export(register_patch)
export(resolve_dataset_path)
export(deactivate)
export(deactivate_all)
export(set_threads)
export(speedups)
export(status)
export(subset_patches)
export(verify_patch)
export(with_disabled)
useDynLib(autozyme, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(data.table, ":=")
importFrom(methods, getMethod)
importFrom(methods, removeMethod)
importFrom(methods, setMethod)
importFrom(stats, setNames)
importFrom(utils, head)
